.bookmark-toast {
  $close-button-size: 36px;

  @include flexbox(between); //3
  position: fixed; //0
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  padding-right: 12px;
  padding-left: $close-button-size; //1
  z-index: $bookmark-toast-level;
  background-color: $white;
  box-shadow: $popup-reversed-shadow;

  .bookmark-title {
    @include text-style(13, $primary);
    font-weight: 400;
  }

  .close-button {
    @include pos-center-y;
    @include inline-flexbox;
    left: 0;
    width: $close-button-size;
    height: $close-button-size;
    font-size: 20px;
    color: $tertiary;

    &:active {
      color: $secondary;
    }
  }

  .button-group {
    @include flexbox(end); //2

    a {
      margin-right: 4px;
    }
  }
}
