.lnb {
  //기준점
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  &-list {
    //터지는곳
    @include inline-flexbox(start); //자신의컨텐츠만큼의넓이계산
    white-space: nowrap; //한줄로 길게
    position: relative;
    left: -8px;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }

    a {
      @include inline-flexbox; //자신컨텐츠만큼의넓이를 갖는다.
      @include text-style(13, $dark);
      height: 40px;
      padding: 0 8px;
      font-weight: 700;
    }

    .ic-new {
      color: $red;
    }
  }
}
