.sidebar {
  $sidebar-width: 240px;

  @include no-scrollbar;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level; //체크
  width: $sidebar-width;
  height: 100vh; //체크
  padding: 32px 20px;
  overflow-y: auto; //체크 스크롤,바y축
  background-color: $white;
  transform: translate3d(-#{$sidebar-width}, 0, 0); //체크 사이드바 사라짐
  transition: transform 300ms ease-in-out;
  overscroll-behavior: contain;

  &.is-active {
    transform: translate3d(0, 0, 0); //체크 사이드바 나타남
  }

  &-header {
    padding: 0 12px;

    .logo {
      @include flexbox(start); //앵커영역만클릭

      a {
        display: block;
      }

      img {
        display: block;
        width: auto;
        height: 20px;
      }
    }
  }

  &-user,
  &-auth {
    @include flexbox(start);
    height: 88px; //체크
  }

  &-user {
    a {
      @include flexbox(start);
      @include text-style(14, $primary);
      width: 100%; //체크1-2
      font-weight: 700;
    }

    .avatar-24 {
      flex-grow: 0; //체크1-4
      flex-shrink: 0; //체크0
      margin-right: 8px;
    }

    .username {
      @include truncate;
      flex-grow: 1; //체크1-3 빈공간차지해라~
    }
  }

  &-auth {
    @include flexbox(between);

    a {
      width: 84px;
    }
  }

  &-nav {
    .drawer-menu {
      border-top: 1px solid $border;

      &.is-expert {
        border-bottom: 1px solid $border;
      }
    }
  }

  &-user-menu {
    margin-top: 16px;

    .user-menu-item {
      a {
        @include flexbox(start);
        @include text-style(14, $primary);
        width: 100%;
        height: 36px;
        padding: 0 12px;

        &:active {
          color: $blue;
        }
      }
    }
  }
}
